.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 150;
	background-color: rgba(0, 0, 0, 0.75);
}

.alert-box {
	position: fixed;
	top: 30vh;
	left: 20vw;
	z-index: 200;
	box-sizing: border-box;
	padding: 16px;
	width: 60vw;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.alert-box-actions {
	text-align: right;
}